body {
  margin: 0;
  padding: 0;
}
nav.navbar {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav a {
  color: #ddd;
}
nav a:hover {
  color: white;
  text-decoration: none;
}
nav .dropdown-toggle {
  margin-top: 10%;
}
h1, h3 {
  text-align: center;
  margin: 0;
  padding-top: 1.5%;
}
.container-fluid {
  padding: 0;
}
/* Home View Styles */
.home-view {
  padding-top: 30ex;
  padding-right: 10ex;
  background: url('https://images.unsplash.com/1/macbook-air-iphone-moleskin.jpg?q=80&fm=jpg&s=789774b892a1f949ce6427d8fff58f0c');
  background-size: cover;
  height: 100vh;
}
.home-view h1 {
  color: rgba(255,255,255,0.9)
}
/* END Home View Styles */
/* Shop View Styles */
.shop-view {
  padding-top: 10ex;
  background-color: rgba(10,100,250,0.4);
}
.macbooks {
  background-color: gray;
  height: 70vh;
  padding: 2%;
}
.iphones {
  background-color: rgba(162,255,151,0.9);
  height: 70vh;
  padding: 2%;
}
.macbooks-view, .iphones-view {
  padding-top: 2%;
}
.macbooks-view img, .iphones-view img {
  width: 60%;
  margin: 0 auto;
  height: 30ex;
  overflow: hidden;
}
.modelName {
  text-align: center;
}
/* END Shop View Styles */
